.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(26, 26, 46);
    height: 70px;
    margin-bottom: 40px;
}

.left-section,
.right-section {
    display: flex;
    align-items: center;
}

.nav-logo {
    height: 34px;
}

.left-section p {
    font-size: 22px;
    padding-left: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.right-section p {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.right-section {
    width: 350px;
    display: flex;
    justify-content: space-between;
    margin-right: 30px;
}

.left-section {
    margin-left: 30px;
}